.card {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    @media screen and (min-width: 1721px) {
        @include width-by-items-amount(5);
    }

    @media screen and (max-width: 1720px) and (min-width: 1421px) {
        @include width-by-items-amount(4);
    }

    @media screen and (max-width: 1420px) and (min-width: 921px) {
        @include width-by-items-amount(3);
    }

    @media screen and (max-width: 920px) and (min-width: 521px) {
        @include width-by-items-amount(2);
    }

    @media screen and (max-width: 520px) {
        @include width-by-items-amount(1);
    }


    &__title {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1.5px;
        color: #171717;
        padding-left: 20px;
    }

    &__subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #171717;
        padding-left: 20px;
        padding-right: 40px;
    }

    &__description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #666666;
        padding-left: 20px;
        padding-right: 55px;
    }

    &__posted {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #666666;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    &__button {
        margin-top: auto;
        padding-left: 20px;
        padding-right: 20px;

        .button {
            &--size {
                &-big {
                    width: 100%;

                    @media screen and (max-width: 1120px) {
                        padding: 20px 50px;
                    }

                    @media screen and (max-width: 620px) {
                        padding: 20px 30px;
                    }

                    @media screen and (max-width: 530px) {
                        padding: 20px 20px;
                    }
                }
            }
        }
    }
}