.input {
    position: relative;
    margin-bottom: 20px;

    input {
        outline: none;
        width: 90%;
        padding: 20px 35px;
        background-color: transparent;
        border: 1px solid #2B2B2B;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
    }

    input:focus {
        border: 1px solid #FFFFFF;
        transition: border ease 0.3s;
    }

    input:focus ~ label, input:not(:placeholder-shown) ~ label {
        transform: translateY(-20px) translateX(8px) scale(0.8);
        transform-origin: left;
    }

    label {
        position: absolute;
        left: 0;
        top: 20px;
        padding-left: 35px;
        transition: transform 0.3s, transform-origin 0.3s;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
    }

    &__error {
        opacity: 0;
        max-height: 0;
        transition: opacity ease 1s, max-height ease 1s;
    }

    .erroneous {
        border: 1px solid #c94b4b;
        transition: border ease 0.3s;
    }

    .erroneous ~ p {
        opacity: 1;
        max-height: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        color: #c94b4b;
        margin-bottom: 0;
    }
}