.slider
    .splide
        .splide__slider
            .splide__track
                ul.splide__list
                    li.splide__slide
                        img(src="img/slide1.jpg" alt="Планета Земля")
                    li.splide__slide 
                        img(src="img/slide2.jpg" alt="Звёздное небо")
                    li.splide__slide 
                        img(src="img/slide3.jpg" alt="Доллары")
    .slider__titles.slider__titles--active
        h1.slider__title ПОЛЕТ ИЛОНА МАСКА <br> И DOGIE COIN
        p.slider__subtitle В прошлый четверг все офигели от полета DOGIE COIN на Марс
        .slider__button
            - buttonText = 'ОСТАВИТЬ ЗАЯВКУ'
            - buttonTheme = 'light'
            - buttonSize = 'big'
            include ../components/button
    .slider__titles
        h1.slider__title DOGIE COIN <br> УПАЛ
        p.slider__subtitle Все в шоке, я потерял все деньги
        .slider__button
            - buttonText = 'ОСТАВИТЬ ЗАЯВКУ'
            - buttonTheme = 'light'
            - buttonSize = 'big'
            include ../components/button
    .slider__titles
        h1.slider__title ЭПИЧЕСКОЕ ВОЗВРАЩЕНИЕ НА ХАИ
        p.slider__subtitle Все в шоке, я снова богат 
        .slider__button
            - buttonText = 'ОСТАВИТЬ ЗАЯВКУ'
            - buttonTheme = 'light'
            - buttonSize = 'big'
            include ../components/button
    .slider__sections
        p.slider__section.slider__section--active DOGIE COIN
        p.slider__section ПАДЕНИЕ
        p.slider__section ВОЗВРАЩЕНИЕ