.slider
    .splide
        .splide__slider
            .splide__track
                ul.splide__list
                    li.splide__slide
                        img(src="img/slide1.jpg" alt="Планета Земля")
                    li.splide__slide 
                        img(src="img/slide2.jpg" alt="Звёздное небо")
                    li.splide__slide 
                        img(src="img/slide3.jpg" alt="Доллары")
    .slider__sections
        p.slider__section.slider__section--active DOGIE COIN
        p.slider__section ПАДЕНИЕ
        p.slider__section ВОЗВРАЩЕНИЕ