.popUp {
    display: flex;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s;
    background-color: rgba(39, 39, 39, 0.9);
    justify-content: center;
    align-items: center;

    &--active {
        opacity: 1;
        pointer-events: auto;
    }

    &__request {
        margin-left: 90px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            transform: skew(-4deg);
            background-color: #131313;
            height: 100%;
            width: 130%;
            z-index: -2;
            right: -15%;
            bottom: 0;
        }
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        color: #FFFFFF;
        margin-bottom: 20px;
        margin-top: 70px;
    }

    &__subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #808080;
        margin-bottom: 50px;
    }

    &__question {
        outline: none;
        resize: none;
        border: 1px solid #2B2B2B;
        background-color: transparent;
        margin-bottom: 20px;
        width: 100%;
        padding: 20px 35px;
        height: 150px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
    }

    &__label {
        position: absolute;
        left: 0;
        bottom: 30%;
        padding-left: 35px;
        transition: transform 0.3s;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
    }

    &__question:focus ~ &__label, &__question:not(:placeholder-shown) ~ &__label {
        transform: translateX(8px) translateY(-35px) scale(0.8);
        transform-origin: left;
    }

    &__agreement {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #808080;
    }

    &__link {
        text-decoration: none;
        color: #808080;
    }
}