.slider {
    margin-top: 30px;
    position: relative;
    background: linear-gradient(0deg, #131313 0%, rgba(19, 19, 19, 0) 100%);

    .splide__track {
        z-index: -2;
    }

    .splide__slide img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__sections {
        position: absolute;
        right: 5%;
        bottom: 15%;
        text-align: right;
    }

    &__section {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        opacity: 0.6;
        cursor: pointer;

        &--active {
            font-weight: 700;
        }
    }

    &__titles {
        opacity: 0;
        max-width: 685px;
        position: absolute;
        left: 5%;
        bottom: 15%;

        &--active {
            opacity: 1;

            .slider__title {
                opacity: 1;
                transform: translateY(0px);
                transition-delay: 250ms;
            }

            .slider__subtitle {
                opacity: 1;
                transform: translateY(0px);
                transition-delay: 350ms;
            }

            .slider__button {
                opacity: 1;
                transform: translateY(0px);
                transition-delay: 450ms;
            }
        }
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        color: #FFFFFF;
        opacity: 0;
        transform: translateY(30px);
        transition: opacity ease 0.7s, transform ease 0.7s;

        @media screen and (max-width: 1020px) {
            font-size: 36px;
        }

        @media screen and (max-width: 710px) {
            font-size: 30px;
        }

        @media screen and (max-width: 610px) {
            font-size: 24px;
        }
    }

    &__subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        opacity: 0.79;
        margin-bottom: 40px;
        opacity: 0;
        transform: translateY(30px);
        transition: opacity ease 0.7s, transform ease 0.7s;

        @media screen and (max-width: 710px) {
            width: 70%;
        }
    }

    &__button {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity ease 0.7s, transform ease 0.7s;
        .button {
            z-index: 1;
            &--size {
                &-big {
                    @media screen and (max-width: 450px) {
                        padding: 10px 20px;
                    }

                    @media screen and (max-width: 370px) {
                        padding: 5px;
                    }
                }
            }
        }
    }
}