.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;

    @media screen and (max-width: 1520px) {
        position: relative;
    }

    &__logo {
        @media screen and (max-width: 1520px) {
            margin-right: auto;
            margin-left: 90px;
        }

        @media screen and (max-width: 735px) {
            margin-left: 65px;
        }

        @media screen and (max-width: 710px) {
            margin-left: auto;
            margin-right: 0;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-left: 75px;
        align-items: center;

        @media screen and (max-width: 710px) {
            opacity: 0;
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            margin-top: 25px;
            margin-left: 0;
            align-items: flex-start;
        }
    }

    &__navigation {
        display: flex;

        @media screen and (max-width: 1520px) {
            opacity: 0;
            pointer-events: none;
            flex-direction: column;
            position: absolute;
            left: 0;
            top: calc(100% + 50px);
        }

        @media screen and (max-width: 710px) {
            position: static;
        }
    }

    &__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
        transition: color ease 0.3s;

        &:not(:last-child) {
            margin-right: 40px;

            @media screen and (max-width: 1620px) {
                margin-right: 30px;
            }

            @media screen and (max-width: 1520px) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }

        &:hover {
            color: #c1b9b9;
        }

        @media screen and (max-width: 1520px) {
            font-size: 30px;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px #808080;
            transition: -webkit-text-fill-color ease 0.3s;

            &:hover {
                -webkit-text-fill-color: #c1b9b9;
            }
        }

        @media screen and (max-width: 767px) {
            font-size: 36px;
        }

        @media screen and (max-width: 500px) {
            font-size: 25px;
        }

        @media screen and (max-width: 370px) {
            font-size: 20px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;

        @media screen and (max-width: 710px) {
            flex-direction: column;
            margin: 50px auto;
            width: 100%;
        }

        .button {
            &--size {
                &-big {
                    @media screen and (max-width: 710px) {
                        width: 90%;
                    }
                }
            }
        }
    }

    &--overlay {
        .header__navigation {
            opacity: 1;
            display: flex;
            pointer-events: auto;
        }

        .header__wrapper {
            opacity: 1;
            display: flex;
            flex-direction: column;
            pointer-events: auto;
        }
    }
}