.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;

    &__navigation {
        display: flex;
    }

    &__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
        transition: color ease 0.3s;

        &:not(:last-child) {
            margin-right: 40px;
        }

        &:hover {
            color: #c1b9b9;
        }
    }

    &__buttons {
        display: flex;
        align-items: center
    }
}