.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-cross {
	font-size: (26 / 10) * 1rem;
	width: (26 / 26) * 1em;
}
.icon-phone {
	font-size: (20 / 10) * 1rem;
	width: (20 / 20) * 1em;
}
