@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Mulish';
	font-weight: 700;
	src: url('/fonts/Mulish-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Mulish';
	font-weight: 600;
	src: url('/fonts/Mulish-SemiBold.ttf') format('truetype');
}
